@charset "UTF-8";
#burger, #close {
  display: none;
}

.dark, .dark h2 {
  background-color: #231F1D;
  color: #F5EBAB;
}

.dark #retour {
  color: #231F1D;
}

.cabaret {
  background-color: #130101;
  color: #F5EBAB;
}

.cabaret #retour {
  color: #231F1D;
}

.cabaret h2 {
  color: #F5EBAB;
}

.wedding--banner {
  background: url("content/Photo/Mariage 2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 45vw;
  margin: 5vw 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.75;
}

.wedding--details {
  background: url("content/Photo/Mariage 3.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60vw;
  margin: 5vw 0 0 0;
  display: flex;
  justify-content: space-around;
}

.wedding--details img {
  margin: 2vw;
  box-shadow: #231F1D94 10px 25px 20px;
}

.wedding--details div {
  display: flex;
  height: 20vw;
  margin: 1vw 1vw 0 1vw;
}

.wedding--details > div {
  display: flex;
  flex-direction: column;
}

.wedding--details div img {
  margin: 0;
  height: 100%;
}

.wedding--details p {
  width: 40%;
  margin: 2vw 3vw;
  text-align: justify;
  line-height: 2.2vw;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*Costume*/
.article--banner {
  width: 100%;
  height: 45vw;
  margin: 5vw 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.75;
}

.article--details {
  height: 60vw;
  margin: 5vw 0 0 0;
  display: flex;
  justify-content: space-around;
}

.article__details--alt {
  flex-direction: row-reverse;
}

.article--details img {
  margin: 2vw;
  box-shadow: #231F1D94 10px 25px 20px;
}

.article--details div {
  display: flex;
  height: 20vw;
  margin: 1vw 1vw 0 1vw;
}

.article--details > div {
  display: flex;
  flex-direction: column;
}

.article--details div img {
  margin: 0;
  height: 100%;
}

.article--details p {
  width: 40%;
  margin: 2vw 3vw;
  text-align: justify;
  line-height: 2.2vw;
}

/*-------------------------------------------------------------------*/
/* Page nymphes */
/* fée Bleu*/
.feeBleu__bckgrnd--1 {
  background-image: url("content/Nymphe/LaFéeBleue1.jpg");
  background-size: auto;
  background-position: center 15%;
}

.feeBleu__bckgrnd--2 {
  background-image: url("content/Nymphe/LaFéeBleue2.jpg");
  background-size: auto;
}

/* Denïtza le Feu Follet de L'Hiver */
.feuFollet__bckgrnd--1 {
  background-image: url("content/Nymphe/2017 Denïtza le Feu Follet de l_Hiver (16).jpg");
  background-size: auto;
  background-position: center 15%;
}

.feuFollet__bckgrnd--2 {
  background-image: url("content/Nymphe/2017 Denïtza le Feu Follet de l_Hiver (17).jpg");
  background-size: auto;
}

/* Priyanka */
.Priyanka__bckgrnd--1 {
  background-image: url("content/Nymphe/Priyanka_3.jpg");
  background-size: auto;
  background-position: center 45%;
}

.Priyanka__bckgrnd--2 {
  background-image: url("content/Nymphe/Priyanka_5.jpg");
  background-size: auto;
}

/* Nümia */
.Numia__bckgrnd--1 {
  background-image: url("content/Nymphe/2020 06 Nümia _ le rayonnement de Litha  (7).jpg");
  background-size: cover;
  background-position: center 40%;
}

.Numia__bckgrnd--2 {
  background-image: url("content/Nymphe/2020 06 Nümia _ le rayonnement de Litha  (8).jpg");
  background-size: cover;
  background-position: center 30%;
}

/* Songe Givrée */
.songe__bckgrnd--1 {
  background-image: url("content/Nymphe/Mandzou 2020 Songe Givrées (26).jpg");
  background-size: cover;
  background-position: center 40%;
}

.songe__bckgrnd--2 {
  background-image: url("content/Nymphe/Mandzou 2020 Songe Givrées (27).jpg");
  background-size: cover;
  background-position: center 30%;
}

/* Nymphe */
.Nymphe__bckgrnd--1 {
  background-image: url("content/Nymphe/Mandzou 2013 Nymphe (9).jpg");
  background-size: cover;
  background-position: center bottom;
}

.Nymphe__bckgrnd--2 {
  background-image: url("content/Nymphe/Mandzou 2013 Nymphe (10).jpg");
  background-size: cover;
}

/* Idunna */
.idunna__bckgrnd--1 {
  background-image: url("content/Nymphe/Mandzou 2021 05 13 Idunna l_aura du printemps (32).jpg");
  background-size: cover;
  background-position: center;
}

.idunna__bckgrnd--2 {
  background-image: url("content/Nymphe/Mandzou 2021 05 13 Idunna l_aura du printemps (55).jpg");
  background-size: cover;
  background-position: center top;
}

/* ------------------------------------------------------------------ */
/* dolls house */
.dolls__bckgrnd--1 {
  background-image: url("content/Cabaret/2021 02 Dolls House (1).jpg");
  background-size: cover;
  background-position: center;
}

.dolls__bckgrnd--2 {
  background-image: url("content/Cabaret/2021 02 Dolls House (4).jpg");
  background-size: cover;
  background-position: center top;
}

.master__bckgrnd--1 {
  background-image: url("content/Cabaret/2021 03 La Voix du Maitre (58).jpg");
  background-size: cover;
  background-position: center;
}

.master__bckgrnd--2 {
  background-image: url("content/Cabaret/2021 03 La Voix du Maitre (59).jpg");
  background-size: cover;
  background-position: center top;
}

.phoenix__bckgrnd--1 {
  background-image: url("content/Cabaret/Mandzou 2014 04 Le Phoenix (5).jpg");
  background-size: cover;
  background-position: center 60%;
}

.phoenix__bckgrnd--2 {
  background-image: url("content/Cabaret/Mandzou 2014 04 Le Phoenix (5).jpg");
  background-size: cover;
  background-position: center top;
}

/* ------------------------------------------------------------------ */
/* 404 */
/* ------------------------------------------------------------------ */
._404 {
  margin: 2vw 0 8vw 0;
}

/*------------------------------------------------------------------ */
/* Barre de navigation réduite */
/* ------------------------------------------------------------------ */
/* Typographie */
h1 {
  font-family: "Cinzel Decorative", cursive;
  border-right: solid 1px;
  padding: 0 2em 0 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 15px;
  font-family: "Cinzel", serif;
  color: #231F1D;
}

h3 {
  font-size: 1vw;
  font-weight: 600;
  margin: 10px 15px;
  font-family: "Cinzel", serif;
  color: #231F1D;
}

p {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  text-shadow: #231F1D94 5px 5px 10px;
  margin: 0 2vw;
}

/* ------------------------------------------------------------------ */
/* Barre de Navigation */
#nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  border-radius: 3px 3px 40px 40px;
  background-color: #ffffff;
  padding: 0.36vw 0;
}

#nav2 {
  width: 99%;
}

/* Barre de Navigation : régle concernant les liens */
.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link li h2:hover, h3 {
  cursor: pointer;
}

.menuPointer {
  opacity: 0.75;
  width: 1rem;
}

.menuPointer2 {
  opacity: 0.75;
  width: 0.5rem;
}

/* Barre de Navigation : régles concernant le logo */
#logo {
  width: 10vw;
}

/* Barre de Navigation : régles concernant les liens vers les réseaux sociaux */
.social > ul {
  width: 26px;
  position: fixed;
  z-index: 9999;
  left: 0px;
  top: 40%;
  background-color: #ffffff94;
  height: 75px;
  padding: 25px 0;
  border-radius: 0 40px 40px 0;
}

.social--alt > li img {
  width: 4vw;
  height: 4vw;
  margin: 3vw 2vw;
}

.facebook, .instagram, .etsy {
  width: 20px;
  height: 20px;
  opacity: 0.33;
  padding: 2px;
}

.facebook:hover, .instagram:hover, .etsy:hover {
  opacity: 1;
  cursor: pointer;
}

/* Barre de Navigation : Boutton retour acceuil */
.acceuil {
  margin: 3vw;
}

.acceuil > a {
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------------------ */
/* Menu Déroulant */
.subNav1, .subNav2 {
  position: absolute;
  top: 3.4vw;
  left: 20%;
  background-color: #ffffff94;
  border-radius: 10px;
  z-index: 9999;
}

.subNav2 {
  left: 50%;
}

.subNav1 a, .subNav2 a {
  text-decoration: none;
  color: #0000006b;
}

.subNav1 a:hover, .subNav2 a:hover {
  color: #000000;
}

.subNav1 a h2, .subNav2 a h2 {
  font-size: 1rem;
  border: none;
  padding: 0;
}

/* ------------------------------------------------------------------ */
/* Diaporama landing */
#diaporama {
  /*! margin-top: 12.3vw; */
  width: 100%;
  height: 40vw;
  box-shadow: #231F1D94 12px 12px 50px;
  animation: fondu 15s ease-in-out infinite both;
}

@keyframes fondu {
  0% {
    background: url(content/Corporate/Mandzou2021PhotoCorporateAtelierHD01.jpg);
    background-size: cover;
    background-position: bottom;
  }
  33% {
    background: url(content/Corporate/Mandzou2021PhotoCorporateAtelierHD42.jpg);
    background-size: cover;
  }
  66% {
    background: url(content/Corporate/Mandzou2021PhotoCorporateAtelierHD19.jpg);
    background-size: cover;
    background-position: center;
  }
  100% {
    background: url(content/Corporate/Mandzou2021PhotoCorporateAtelierHD14.jpg);
    background-size: cover;
    background-position: center;
  }
}
/* ------------------------------------------------------------------ */
/* Call To Action */
.CTA {
  width: 100%;
  height: 22vw;
  background-color: #231F1D;
  margin: 6vw 0;
  box-shadow: #231F1D94 12px 12px 50px;
}

.CTA--container {
  display: flex;
  justify-content: space-around;
}

.CTA h2 {
  color: #F5EBAB;
}

.CTA img {
  width: 10vw;
  height: auto;
  margin: 3vw 0;
}

/* ------------------------------------------------------------------ */
/* Catégories */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  background: url("content/Corporate/Mandzou 2021 Photo Corporate Atelier HD (22').jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 37vw;
  margin: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #231F1D 1px;
  border-bottom: solid #231F1D 1px;
}

.details--alt {
  flex-direction: row-reverse;
}

.details > p {
  width: 30%;
  text-align: center;
}

.details > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  background: url("content/Photo/Mariage 7.jpg");
  background-size: cover;
  width: 30%;
  height: 25vw;
  box-shadow: #231F1D94 12px 12px 15px;
}

.img1 > span {
  background-color: #fdfcbf73;
  width: 100%;
  height: 18vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 h2 {
  font-size: 4vw;
  color: #231F1D94;
}

.img1 h2:hover {
  color: #000;
}

/* ------------------------------------------------------------------ */
/* bouton de retour haut de page */
#retour {
  background-color: #F5EBAB;
  margin: 2vw 2vw 2vw auto;
  height: 35px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #231F1D94 12px 12px 50px;
}

#retour:hover {
  background-color: #F0CB64;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* Pied de la page */
footer {
  background-color: #231F1D;
  color: #F5EBAB;
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-shadow: #231F1D94 12px 12px 50px;
  width: 100%;
}

#contact {
  margin: 2vw 0;
}

/* ------------------------------------------------------------------ */
.test {
  opacity: 0.99;
}

@media screen and (max-width: 900px) {
  #nav2 {
    display: none;
  }

  #nav {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
